<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="">
<meta name="Description" content="">
<meta content="telephone=no" name="format-detection">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../style/about.css">
<link rel="icon" href="../image/icon.png">


<title></title>
</head>

<body>

	<div class="content">
		<div class="im-name" >
			<img style="padding-top: 10px;" src="../image/icon.png">
		</div>
		<p id="appName" class="app_name">HyperChain </p>

		<div class="set-copyright">苏州超块链信息科技有限公司</div>
	</div>


</body>
</html>